{% load static %}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Tarcom - تسجيل الدخول</title>
    <link rel="icon" href="{% static 'assets/images/tarcom_logo.png' %}">
</head>

<body class="login-body">
    <div class="login-container">
        <div class="login-header">
            <div class="tarcom-image-container">
                <img src="{% static 'assets/images/tarcom_logo.png' %}" class="tarcom-image" alt="Tarcom Logo">
            </div>
            <h1 class="login-text">
                تسجيل الدخول
            </h1>
        </div>

        {% if messages %}
        <script>
            {% for message in messages %}
            alert("{{ message.message|escapejs }}");
            {% endfor %}
        </script>
        {% endif %}

        <form class="login-form" action="" method="post">
            {% csrf_token %}
            <label for="{{ form.phonenumber.id_for_label }}">رقم الهاتف أو البريد الإلكتروني:</label>
            <div class="input">
                {{ form.phonenumber }}
            </div>
            {% if form.phonenumber.errors %}
                <script>
                    {% for error in form.phonenumber.errors %}
                    alert("{{ error|escapejs }}");
                    {% endfor %}
                </script>
            {% endif %}

            <label for="{{ form.password.id_for_label }}">كلمة المرور:</label>
            <div class="input password-input-wrapper">
                {{ form.password }}
                <button type="button" class="password-toggle" data-target="{{ form.password.id_for_label }}" aria-label="Toggle password visibility">
                    <i class="fas fa-eye-slash"></i>
                </button>
            </div>
            {% if form.password.errors %}
                <script>
                    {% for error in form.password.errors %}
                    alert("{{ error|escapejs }}");
                    {% endfor %}
                </script>
            {% endif %}

            <div class="remember-me-checkbox">
                <label for="{{ form.remember_me.id_for_label }}">تذكرني</label>
                {{ form.remember_me }}
            </div>
            <button type="submit" class="login-btn">تسجيل الدخول</button>
        </form>
    </div>
    <script src="{% static 'assets/min/js/main.min.js' %}"></script>
</body>
</html>
