{% extends 'admin_panel/base.html' %}
{% load static %}

{% block title %}معلومات أدمن{% endblock %}

{% block content %}
<div class="content-header">
    <nav class="breadcrumb">
        <a href="">المستخدمين</a>
        <i class="separator fas fa-chevron-left"></i>
        <a href="{% url 'admins' %}">الأدمن</a>
        <i class="separator fas fa-chevron-left"></i>
        <span>معلومات أدمن</span>
    </nav>
</div>

<div class="content-body">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-container">
            <div class="form-grid">
                <div class="form-section">
                    
                    <div class="form-group">
                        <label>{{ form.email.label }}</label>
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="error">{{ form.email.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group">
                        <label>{{ form.phonenumber.label }}</label>
                        {{ form.phonenumber }}
                        {% if form.phonenumber.errors %}
                            <div class="error">{{ form.phonenumber.errors }}</div>
                        {% endif %}
                    </div>

                </div>

                <div class="form-section">

                    <div class="form-group">
                        <label>{{ form.full_name.label }}</label>
                        {{ form.full_name }}
                        {% if form.full_name.errors %}
                            <div class="error">{{ form.full_name.errors }}</div>
                        {% endif %}
                    </div>

                    <div class="form-group image-picker">
                        <label>صورة الأدمن</label>
                        <input type="file" id="image-upload" name="image" accept="image/*">
                        <div class="image-preview">
                            <img id="image-preview" width="100" height="100" src="{{ image.url }}" alt="Preview">
                            {% if not image.url %}
                                <div class="placeholder-text" id="placeholder-text">لا توجد صورة محددة</div>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        
        <div class="form-button-container">
            <button class="btn btn-brown">
                حفظ
            </button>
            <a href="{% url 'change-password' admin.id %}" class="btn btn-brown">
                تغيير كلمة السر
            </a>
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-white">
                إلغاء
            </a>
        </div>

    </form>
</div>


<script>
$(document).ready(function() {
    $('#image-upload').on('change', function(e) {
        var file = e.target.files[0];
        var preview = $('#image-preview');
        var placeholder = $('#placeholder-text');
        
        if (file) {
            var reader = new FileReader();
            
            reader.onload = function(e) {
                preview.attr('src', e.target.result);
                placeholder.hide();
            };
            
            reader.readAsDataURL(file);
        } else {
            placeholder.show();
        }
    });
});
</script>
{% endblock %}